* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    object-fit: cover;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    font-size: 12px;
}

.card {
    padding: 30px;
    background-color: gray;
    width: 300px;
    min-height: 300px;
    color: #111111;
    font-size: 16px;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

}