* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,span {
  margin: 0;
}
a {
  text-decoration: none;
}

html,
body {
  min-height: 100vh;
}

body {
  background: rgb(243, 241, 241);
}

.main__title {
  text-align: center;
}